<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mt-3">
    <!-- 질문 -->
    <div class="bg-blue-600 px-4 py-3 mb-2 flex justify-between">
        <h2 class="text-white " th:text="${post.title}"></h2>
        <p class="text-white" th:text="${'조회수 : ' + post.viewCount}"></p>
    </div>

    <div class="mx-3">
        <div class="card w-96 bg-base-100 border border-base-300 mt-3 w-full px-2">
            <div class="card-body">
                <div class="card-text whitespace-pre-line" th:text="${post.content}"></div>
                <div class="flex justify-end">
                    <div th:if="${post.modifyDate != null}"
                         class="flex justify-end badge badge-ghost dark:text-gray-300 p-2 text-start">
                        <div class="mr-2">modified at</div>
                        <div th:text="${#temporals.format(post.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="flex justify-end">
                    <div class="flex justify-end badge badge-ghost dark:text-gray-300 p-2 text-start">
                        <div class="mr-2">
                            <span th:if="${post.author != null}" th:text="${post.author.username}"></span>
                        </div>
                        <div>
                            <div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
                <div class="my-3 flex justify-between">
                    <div>
                        <div>
                            <a href="javascript:void(0);" class="like btn btn-sm btn-ghost"
                               th:data-uri="@{|/b/${post.author.username}/${post.countByMember}/like|}">
                                <i class="fa-regular fa-heart fa-xl"></i>
                                <span class="badge rounded-pill bg-error" th:text="${#lists.size(post.voter)}"></span>
                            </a>
                            <a href="javascript:void(0);" class="deleteLike btn btn-sm btn-ghost"
                               th:data-uri="@{|/b/${post.author.username}/${post.countByMember}/cancelLike|}">
                                <i class="fa-solid fa-heart-crack fa-xl"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{|/post/modify/${post.id}|}" class="btn btn-outline btn-sm mr-3"
                           sec:authorize="isAuthenticated()"
                           th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
                           th:text="수정"></a>
                        <a href="javascript:void(0);" th:data-uri="@{|/post/delete/${post.id}|}"
                           class="delete btn btn-outline btn-sm" sec:authorize="isAuthenticated()"
                           th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
                           th:text="삭제"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    const like_elements = document.getElementsByClassName("like");
    Array.from(like_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("추천 하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });

    const deleteLike_elements = document.getElementsByClassName("deleteLike");
    Array.from(deleteLike_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("추천을 취소 하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });


</script>

</html>