<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mx-2 overflow-x-auto">
    <div class="grid grid-cols-3 gap-4">
        <div th:each="post, loop : ${paging}" class="border rounded-lg p-4 shadow-md">
            <h3 class="text-lg font-semibold mb-2">
                <span th:if="${post.isPremium}"><i class="fa-solid fa-m"></i> . </span>
                <span th:if="${post.isPublished()}"><i class="fas fa-lock"></i> </span>
                <span th:unless="${post.isPremium and not @rq.isPremium()}" class="text-info-content">
                    <a class="link link-primary" th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}"></a>
                </span>
                <span th:if="${post.isPremium and not @rq.isPremium()}">멤버십 회원만 열람 가능 한 글 입니다.</span>
            </h3>
            <p th:text="${post.author != null} ? ${post.author.username} : 'Unknown'" class="text-gray-500 mb-2"></p>
            <p th:text="${'조회수 : ' + post.viewCount}" class="text-gray-500 flex justify-end"></p>
            <p th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}" class="text-gray-500 mb-2 flex justify-end"></p>

        </div>
    </div>

    <div class="mt-2 flex gap-2 flex justify-end">
        <a th:href="@{/post/create}" class="btn btn-outline mr-3 mb-2">글 등록</a>
    </div>
</div>
</html>