<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mx-2 overflow-x-auto">
    <div class="input-group flex flex-row my-2 flex justify-between">
        <div class="mt-2 flex gap-2">
            <a th:href="@{/post/create}" class="btn btn-outline mr-3 mb-2">글 등록</a>
        </div>

        <div class="flex justify-colum pt-3">
        <input type="search" id="search_kw" class="form-control input input-bordered  input-sm mr-3 mt-1"
               th:value="${kw}">
        <button class="btn btn-active btn-sm mt-1" type="button" id="btn_search">찾기</button>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-6">
        <div th:each="post, loop : ${paging}"
             class="p-6 bg-white shadow-md rounded-lg border border-gray-200 hover:shadow-xl">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-lg font-semibold">
                    <span th:if="${post.isPremium}" class="text-yellow-500"><i class="fa-solid fa-m"></i> . </span>
                    <span th:if="${post.isPublished()}" class="text-red-600"><i class="fas fa-lock"></i> </span>
                    <span th:unless="${post.isPremium and not @rq.isPremium()}" class="text-blue-700">
                    <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}"></a>
                </span>
                    <span th:if="${post.isPremium and not @rq.isPremium()}" class="text-red-500">멤버십 회원만 열람 가능한 글입니다.</span>
                </h3>
            </div>
            <p class="text-gray-700 mb-4">
                <a th:href="@{|/b/${post.author.username}|}" th:text="${post.author.username}"></a>
            </p>
            <p class="text-gray-500 text-right" th:text="'조회수: ' + ${post.viewCount}"></p>
            <p class="text-gray-500 text-sm flex justify-end"
               th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></p>
        </div>
    </div>

    <div class="mt-2 flex gap-2">
        <a th:href="@{/post/create}" class="btn btn-outline mr-3 mb-2">글 등록</a>
    </div>
</div>

<script>
    // 요소들을 가져옵니다.
    const links = document.querySelectorAll('.menu a');
    const dropdownSummary = document.getElementById('dropdownSummary');

    // 각 링크에 대해 클릭 이벤트를 추가합니다.
    links.forEach((link, index) => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // 링크의 기본 동작을 중지합니다.

            // 클릭된 링크의 텍스트를 dropdownSummary에 설정합니다.
            dropdownSummary.textContent = link.textContent;
        });
    });

    function changeSummary(text) {
        document.getElementById('dropdownSummary').textContent = text;
    }

</script>
</html>