<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mx-2 overflow-x-auto">
    <div class="input-group flex flex-row my-2 flex justify-between">
        <div class="mt-2 flex gap-2">
            <a th:href="@{/post/create}" class="btn btn-outline mr-3 mb-2">글 등록</a>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-6 mb-3">
        <div th:each="post, loop : ${paging}"
             class="p-6 bg-white shadow-md rounded-lg border border-gray-200 hover:shadow-xl">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-lg font-semibold">
                    <span th:if="${post.isPremium}" class="text-yellow-500"><i class="fa-solid fa-m"></i> . </span>
                    <span th:if="${post.isPublished()}" class="text-red-600"><i class="fas fa-lock"></i> </span>
                    <span th:unless="${post.isPremium and not @rq.isPremium()}" class="text-blue-700">
                    <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}"></a>
                </span>
                    <span th:if="${post.isPremium and not @rq.isPremium()}"
                          class="text-red-500">멤버십 회원만 열람 가능한 글입니다.</span>
                </h3>
            </div>
            <p class="text-gray-700 mb-4">
                <a th:href="@{|/b/${post.author.username}|}" th:text="${post.author.username}"></a>
            </p>
            <div class="flex justify-between">
                <div class="flex justify-colum">
                    <i class="fa-solid fa-heart mt-1"></i>
                    <p class="text-gray-500 text-right ml-2" th:text="${post.voteCount}"></p>
                </div>
                <p class="text-gray-500 text-right" th:text="'조회수: ' + ${post.viewCount}"></p>
            </div>
            <p class="text-gray-500 text-sm flex justify-end"
               th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></p>
        </div>
    </div>
</div>


</html>