<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mt-3">
    <!-- 질문 -->
    <h2 class="bg-blue-600 text-white px-4 py-3 mb-2" th:text="${premiumPost.title}"></h2>

    <div class="mx-3">
        <div class="card w-96 bg-base-100 border border-base-300 mt-3 w-full px-2">
            <div class="card-body">
                <div class="card-text whitespace-pre-line" th:text="${premiumPost.content}"></div>
                <div class="flex justify-end">
                    <div th:if="${premiumPost.modifyDate != null}"
                         class="flex justify-end badge badge-ghost dark:text-gray-300 p-2 text-start">
                        <div class="mr-2">modified at</div>
                        <div th:text="${#temporals.format(premiumPost.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="flex justify-end">
                    <div class="flex justify-end badge badge-ghost dark:text-gray-300 p-2 text-start">
                        <div class="mr-2">
                            <span th:if="${premiumPost.author != null}" th:text="${premiumPost.author.username}"></span>
                        </div>
                        <div>
                            <div th:text="${#temporals.format(premiumPost.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
                <div class="my-3 flex justify-between">
<!--                    -->
                    <div>
                        <a th:href="@{|/premium/post/modify/${premiumPost.id}|}" class="btn btn-outline btn-sm mr-3"
                           sec:authorize="isAuthenticated()"
                           th:if="${premiumPost.author != null and #authentication.getPrincipal().getUsername() == premiumPost.author.username}"
                           th:text="수정"></a>
                        <a href="javascript:void(0);" th:data-uri="@{|/premium/post/delete/${premiumPost.id}|}"
                           class="delete btn btn-outline btn-sm" sec:authorize="isAuthenticated()"
                           th:if="${premiumPost.author != null and #authentication.getPrincipal().getUsername() == premiumPost.author.username}"
                           th:text="삭제"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</html>